.tile {
	
	
}

.redPiece {
	background-image: url("./images/redPiece.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.start_yellow {
	background-image: url("./images/tile_startYellow.jpg");
	background-repeat: no-repeat;
	
	background-position: center;
}




.start_red {
	background-image: url("./images/tile_startRed.jpg");
	background-repeat: no-repeat;
	
	background-position: center;
}


.start_green {
	background-image: url("./images/tile_startGreen.jpg");
	background-repeat: no-repeat;
	
	background-position: center;
}


.start_blue {
	background-image: url("./images/tile_startBlue.jpg");
	background-repeat: no-repeat;
	
	background-position: center;
}


.board {
	width:1200px;
	height: 1000px;
	margin: 0px auto 0px auto;
}

.board td {
	width: 100px;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}


/* ^^^^^^^^^^^^ */

.row {
	/*border: 1px solid red;*/
	width: 1052px;
	height: 60px;
}

.cellBody {
	border: 1px solid blue;
	width: 60px; 
	height: 60px;
	display: inline-block;
}

/* $$$$$$$$$$ yellow $$$$$$$$$$ */

.safeZoneyellow{
	background: #ffff00;
	width: 60px;
	height: 60px;
}

.safeZoneyellow_piece{
	background: #ffff00 url("./images/piece_yellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	background-size: 49px;
}

.slideEnd_yellow {
	background-image: url("./images/tile_startYellow.jpg");
	background-repeat: no-repeat;
	
	width: 60px;
	height: 60px;
	background-size: 60px;
	background-size: 60px 60px;

}

.slide_yellow {
	background-image: url("./images/tile_slideYellow.jpg");
	background-position: center;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	
}
.slideStart_yellow {
	background-image: url("./images/tile_slideYellowArrow.jpg");
	background-position: center;
	width: 60px;
	height: 60px;	
	background-size: 60px 60px;

}
.startCell_yellow_4 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_yellow_4.jpg");
}
.startCell_yellow_3 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_yellow_3.jpg");
}
.startCell_yellow_2 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_yellow_2.jpg");
}
.startCell_yellow_1 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_yellow_1.jpg");
}
.startCell_yellow_0 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_yellow_0.jpg");
}

.homeCell_yellow_0 {
	background-image: url("./images/home_yellow.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_yellow_1 {
	background-image: url("./images/home_yellow_1.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_yellow_2 {
	background-image: url("./images/home_yellow_2.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_yellow_3 {
	background-image: url("./images/home_yellow_3.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_yellow_4 {
	background-image: url("./images/home_yellow_4.jpg");
	width: 182px;
	height: 182px;
}
/* $$$$$$$$$$ red $$$$$$$$$$ */

.safeZonered {
	background: #ff0000;
	width: 60px;
	height: 60px;
}

.safeZonered_piece{
	background: #ffff00 url("./images/piece_red.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	background-size: 49px;
}
.slideEnd_red {
	background-image: url("./images/tile_startRed.jpg");
	background-repeat: no-repeat;
	
	width: 60px;
	height: 60px;
	background-size: 60px;

}
.slide_red {
	background-image: url("./images/tile_slideRed.jpg");
	background-position: center;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	
}
.slideStart_red {
	background-image: url("./images/tile_slideRedArrow.jpg");
	background-position: center;	
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
}
.startCell_red_4 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_red_4.jpg");
}
.startCell_red_3 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_red_3.jpg");
}
.startCell_red_2 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_red_2.jpg");
}
.startCell_red_1 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_red_1.jpg");
}
.startCell_red_0 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_red_0.jpg");
}

.homeCell_red_0 {
	background-image: url("./images/home_red.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_red_1 {
	background-image: url("./images/home_red_1.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_red_2 {
	background-image: url("./images/home_red_2.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_red_3 {
	background-image: url("./images/home_red_3.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_red_4 {
	background-image: url("./images/home_red_4.jpg");
	width: 182px;
	height: 182px;
}

/* $$$$$$$$$$ green $$$$$$$$$$ */

.safeZonegreen{
	background: #007c00;
	width: 60px;
	height: 60px;
}

.safeZonegreen_piece{
	background: #ffff00 url("./images/piece_green.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	background-size: 49px;
}
.slideEnd_green {
	background-image: url("./images/tile_startGreen.jpg");
	background-repeat: no-repeat;
	
	width: 60px;
	height: 60px;
	background-size: 60px;

}
.slide_green {
	background-image: url("./images/tile_slideGreen.jpg");
	background-position: center;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	
}
.slideStart_green {
	background-image: url("./images/tile_slideGreenArrow.jpg");
	background-position: center;	
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
}
.startCell_green_4 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_green_4.jpg");
}
.startCell_green_3 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_green_3.jpg");
}
.startCell_green_2 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_green_2.jpg");
}
.startCell_green_1 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_green_1.jpg");
}
.startCell_green_0 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_green_0.jpg");
}
.homeCell_green_0 {
	background-image: url("./images/home_green.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_green_1 {
	background-image: url("./images/home_green_1.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_green_2 {
	background-image: url("./images/home_green_2.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_green_3 {
	background-image: url("./images/home_green_3.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_green_4 {
	background-image: url("./images/home_green_4.jpg");
	width: 182px;
	height: 182px;
}
/* $$$$$$$$$$ blue $$$$$$$$$$ */

.safeZoneblue{
	background: #0000ff;
	width: 60px;
	height: 60px;
}

.safeZoneblue_piece{
	background: #ffff00 url("./images/piece_blue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	background-size: 49px;
}
.slideEnd_blue {
	background-image: url("./images/tile_startBlue.jpg");
	background-repeat: no-repeat;
	
	width: 60px;
	height: 60px;
	background-size: 60px;

}
.slide_blue {
	background-image: url("./images/tile_slideBlue.jpg");
	background-position: center;	
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
}
.slideStart_blue {
	background-image: url("./images/tile_slideBlueArrow.jpg");
	background-position: center;	
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
}
.startCell_blue_4 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_blue_4.jpg");
}
.startCell_blue_3 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_blue_3.jpg");
}
.startCell_blue_2 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_blue_2.jpg");
}
.startCell_blue_1 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_blue_1.jpg");
}
.startCell_blue_0 {
	/*border: 1px solid red;*/
	width: 182px;
	height: 182px;
	background-image: url("./images/start_blue_0.jpg");
}
.homeCell_blue_0 {
	background-image: url("./images/home_blue.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_blue_1 {
	background-image: url("./images/home_blue_1.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_blue_2 {
	background-image: url("./images/home_blue_2.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_blue_3 {
	background-image: url("./images/home_blue_3.jpg");
	width: 182px;
	height: 182px;
}

.homeCell_blue_4 {
	background-image: url("./images/home_blue_4.jpg");
	width: 182px;
	height: 182px;
}


/* ^^^^^^^^^^^^^ PIECES ^^^^^^^^^^^^^ */


/* <<<<<<<<<<<<<<<<< YELLOW <<<<<<<<<<<<<<<<< */

.pawn_yellow {
	background-image: url("./images/piece_yellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 59px;
	border: 1px solid;
	background-size: 42px;
}

.pawnSlide_yellow_yellow {
	background-image: url("./images/tile_slideYellow_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_yellow_yellow {
	background-image: url("./images/tile_slideStartYellow_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_yellow_yellow {
	background-image: url("./images/tile_slideEndYellow_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlide_green_yellow {
	background-image: url("./images/tile_slideGreen_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_green_yellow {
	background-image: url("./images/tile_slideStartGreen_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_green_yellow {
	background-image: url("./images/tile_slideEndGreen_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlide_red_yellow {
	background-image: url("./images/tile_slideRed_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_red_yellow {
	background-image: url("./images/tile_slideStartRed_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_red_yellow {
	background-image: url("./images/tile_slideEndRed_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlide_blue_yellow {
	background-image: url("./images/tile_slideBlue_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_blue_yellow {
	background-image: url("./images/tile_slideStartBlue_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_blue_yellow {
	background-image: url("./images/tile_slideEndBlue_PieceYellow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}


/* <<<<<<<<<<<<<<<<< RED <<<<<<<<<<<<<<<<< */

.pawn_red {
	background-image: url("./images/piece_red.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 59px;
	border: 1px solid;
	background-size: 42px;
}

.pawnSlide_yellow_red {
	background-image: url("./images/tile_slideYellow_PieceRed.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_yellow_red {
	background-image: url("./images/tile_slideStartYellow_PieceRed.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_yellow_red {
	background-image: url("./images/tile_slideEndYellow_PieceRed.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}


/* <<<<<<<<<<<<<<<<< GREEN <<<<<<<<<<<<<<<<< */

.pawn_green {
	background-image: url("./images/piece_green.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 59px;
	border: 1px solid;
	background-size: 42px;
}

.pawnSlide_yellow_green {
	background-image: url("./images/tile_slideYellow_PieceGreen.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_yellow_green {
	background-image: url("./images/tile_slideStartYellow_PieceGreen.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_yellow_green {
	background-image: url("./images/tile_slideEndYellow_PieceGreen.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

/* <<<<<<<<<<<<<<<<< BLUE <<<<<<<<<<<<<<<<< */

.pawn_blue {
	background-image: url("./images/piece_blue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 59px;
	border: 1px solid;
	background-size: 42px;
}

.pawnSlide_yellow_blue {
	background-image: url("./images/tile_slideYellow_PieceBlue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideStart_yellow_blue {
	background-image: url("./images/tile_slideStartYellow_PieceBlue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.pawnSlideEnd_yellow_blue {
	background-image: url("./images/tile_slideEndYellow_PieceBlue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
}

.drawnDeck_1 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/1.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_2 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/2.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_3 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/3.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_-4 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/4.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_5 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/5.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_7 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/7.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_8 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/8.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_10 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/10.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_11 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/11.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_12 {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/12.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
.drawnDeck_sorry {
	/*border: 1px solid red;*/
	width: 196px;
	height: 300px;
	background-image: url("./images/cards/sorry.jpg");
	background-position: center;
	background-repeat: no-repeat;

}



/*

.cell3 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell4 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell5 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell6 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell7 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell8 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell9 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell10 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell11 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell12 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell13 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell14 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}
.cell15 {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}*/
